body{
    background-image: url('https://phonoteka.org/uploads/posts/2022-02/1645396818_62-phonoteka-org-p-fon-dlinnii-po-gorizontali-74.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.car{
    position: absolute;
    top: 680px;
    margin: 0;
    width: 200px;
    height: 95px;
    border-radius: 5px;
    background-image: url('https://img.goodfon.ru/wallpaper/nbig/5/a6/porsche-panamera-4s.jpg');
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}


.window{
    position: absolute;
    top: 25px;
    left: 130px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.877);
    width: 60px;
    height: 30px;
}

.wheel1{
    position: absolute;
    top: 84px;
    left: 10px;
    margin: 0;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.wheel2{
    position: absolute;
    top: 84px;
    left: 147px;
    margin: 0;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.race{
    margin-right: 50px;
    position: relative;
    animation: drive 5s linear forwards;
}

@keyframes drive {
    0%{
        left: 0px;
    }
 to {
    transform: translateX(calc(100vw - 250px));
  }
}